In [ ]:
import pandas as pd

In [ ]:
df = pd.read_csv('https://raw.githubusercontent.com/arielmmdx/covid-19/gh-pages/final_covid.csv')

In [ ]:
df.columns

Index(['residencia_provincia_id', 'fecha', 'year', 'mes', 'dia', 'weekday',
       'cuenta_diag', 'cuenta_inter', 'cuenta_uti', 'cuenta_muertes',
       '18 a 39 años SIN Factores de Riesgo',
       '18 a 59 años CON Factores de Riesgo',
       '40 a 49 años SIN Factores de Riesgo',
       '50 a 59 años SIN Factores de Riesgo', '60 o más años', 'Estratégico',
       'Otros', 'Salud', 'AstraZeneca', 'COVISHIELD', 'Sinopharm', 'Sputnik',
       '1', '2', 'Poblacion'],
      dtype='object')

In [ ]:
df.dtypes

residencia_provincia_id                  int64
fecha                                   object
year                                     int64
mes                                      int64
dia                                      int64
weekday                                  int64
cuenta_diag                            float64
cuenta_inter                           float64
cuenta_uti                             float64
cuenta_muertes                         float64
18 a 39 años SIN Factores de Riesgo    float64
18 a 59 años CON Factores de Riesgo    float64
40 a 49 años SIN Factores de Riesgo    float64
50 a 59 años SIN Factores de Riesgo    float64
60 o más años                          float64
Estratégico                            float64
Otros                                  float64
Salud                                  float64
AstraZeneca                            float64
COVISHIELD                             float64
Sinopharm                              float64
Sputnik                                float64
1                                      float64
2                                      float64
Poblacion                                int64
dtype: object

In [ ]:
df.columns

Index(['residencia_provincia_id', 'fecha', 'year', 'mes', 'dia', 'weekday',
       'cuenta_diag', 'cuenta_inter', 'cuenta_uti', 'cuenta_muertes',
       '18 a 39 años SIN Factores de Riesgo',
       '18 a 59 años CON Factores de Riesgo',
       '40 a 49 años SIN Factores de Riesgo',
       '50 a 59 años SIN Factores de Riesgo', '60 o más años', 'Estratégico',
       'Otros', 'Salud', 'AstraZeneca', 'COVISHIELD', 'Sinopharm', 'Sputnik',
       '1', '2', 'Poblacion'],
      dtype='object')

In [ ]:
df_dosis = df[['fecha','1','2']].fillna(0)

In [ ]:
df_dosis['fecha'] = df_dosis['fecha'].astype('datetime64')

In [ ]:
df_dosis.groupby(pd.Grouper(key='fecha', axis=0, freq='M', sort=True)).sum()

                    1          2
fecha
2020-01-31        0.0        0.0
2020-02-29        0.0        0.0
2020-03-31        0.0        0.0
2020-04-30        0.0        0.0
2020-05-31        0.0        0.0
2020-06-30        0.0        0.0
2020-07-31        0.0        0.0
2020-08-31        0.0        0.0
2020-09-30        0.0        0.0
2020-10-31        0.0        0.0
2020-11-30        0.0        0.0
2020-12-31    43299.0        2.0
2021-01-31   243052.0   101975.0
2021-02-28   674439.0   203288.0
2021-03-31  2584474.0   392702.0
2021-04-30  3722285.0   300589.0
2021-05-31  2659805.0  1945347.0
2021-06-30  7372844.0  1272892.0
2021-07-31  6796134.0  1917142.0

In [ ]:
df_vacunas = df[['fecha','AstraZeneca','COVISHIELD','Sinopharm','Sputnik']].fillna(0)

In [ ]:
df_vacunas['fecha'] = df_vacunas['fecha'].astype('datetime64')

In [ ]:
df_vacunas

           fecha  AstraZeneca  COVISHIELD  Sinopharm  Sputnik
0     2020-01-01          0.0         0.0        0.0      0.0
1     2020-01-01          0.0         0.0        0.0      0.0
2     2020-01-01          0.0         0.0        0.0      0.0
3     2020-01-01          0.0         0.0        0.0      0.0
4     2020-01-01          0.0         0.0        0.0      0.0
...          ...          ...         ...        ...      ...
14320 2021-07-26        242.0         0.0     1483.0     33.0
14321 2021-07-26        545.0         0.0     1454.0    101.0
14322 2021-07-26       1258.0         0.0      857.0    554.0
14323 2021-07-26         33.0         0.0     1742.0     29.0
14324 2021-07-26        652.0         0.0     1683.0    950.0

[14325 rows x 5 columns]

In [ ]:
# applying groupby
df_vacunas = df_vacunas.groupby(pd.Grouper(key='fecha', axis=0, freq='M', sort=True)).sum()

In [ ]:
df_vacunas

            AstraZeneca  COVISHIELD  Sinopharm    Sputnik
fecha
2020-01-31          0.0         0.0        0.0        0.0
2020-02-29          0.0         0.0        0.0        0.0
2020-03-31          0.0         0.0        0.0        0.0
2020-04-30          0.0         0.0        0.0        0.0
2020-05-31          0.0         0.0        0.0        0.0
2020-06-30          0.0         0.0        0.0        0.0
2020-07-31          0.0         0.0        0.0        0.0
2020-08-31          0.0         0.0        0.0        0.0
2020-09-30          0.0         0.0        0.0        0.0
2020-10-31          0.0         0.0        0.0        0.0
2020-11-30          0.0         0.0        0.0        0.0
2020-12-31          0.0         1.0        0.0    43300.0
2021-01-31          8.0        65.0       20.0   344934.0
2021-02-28         29.0    261890.0      115.0   615693.0
2021-03-31      15353.0    321806.0   817300.0  1822717.0
2021-04-30     957218.0     39883.0  1167523.0  1858250.0
2021-05-31     651504.0     28084.0  1607504.0  2318060.0
2021-06-30    5582798.0         0.0   985837.0  2077101.0
2021-07-31    2710893.0         0.0  3808253.0  2194130.0

In [ ]:
df_vacunas.iloc[11:]

            AstraZeneca  COVISHIELD  Sinopharm    Sputnik
fecha
2020-12-31          0.0         1.0        0.0    43300.0
2021-01-31          8.0        65.0       20.0   344934.0
2021-02-28         29.0    261890.0      115.0   615693.0
2021-03-31      15353.0    321806.0   817300.0  1822717.0
2021-04-30     957218.0     39883.0  1167523.0  1858250.0
2021-05-31     651504.0     28084.0  1607504.0  2318060.0
2021-06-30    5582798.0         0.0   985837.0  2077101.0
2021-07-31    2710893.0         0.0  3808253.0  2194130.0

In [ ]:
df_vacunas.to_csv('vacunas.csv')

In [ ]:
from google.colab import files
files.download('vacunas.csv')

In [ ]:
df_dosis = pd.read_csv('https://raw.githubusercontent.com/arielmmdx/covid-19/gh-pages/final_nombre_provincias_csv.csv')

In [ ]:
df_dosis

       residencia_provincia_id  ... Poblacion
0                           30  ...   1385961
1                           14  ...   3760450
2                            2  ...   3075646
3                            6  ...  17541141
4                           22  ...   1204541
...                        ...  ...       ...
13795                       58  ...    664057
13796                       46  ...    393531
13797                       54  ...   1261294
13798                       94  ...    173432
13799                       38  ...    770881

[13800 rows x 25 columns]

In [ ]:
df_dosis['fecha'] = df_dosis['fecha'].astype('datetime64')

In [ ]:
df_dosis.dtypes

residencia_provincia_id                         int64
provincia                                      object
centroide_lat                                 float64
centroide_lon                                 float64
fecha                                  datetime64[ns]
cuenta_diag                                     int64
cuenta_inter                                    int64
cuenta_uti                                      int64
cuenta_muertes                                  int64
18 a 39 años SIN Factores de Riesgo             int64
18 a 59 años CON Factores de Riesgo             int64
40 a 49 años SIN Factores de Riesgo             int64
50 a 59 años SIN Factores de Riesgo             int64
60 o más años                                   int64
Estrategico                                     int64
Otros                                           int64
Salud                                           int64
TOTAL VACUNADOS                                 int64
AstraZeneca                                     int64
COVISHIELD                                      int64
Sinopharm                                       int64
Sputnik                                         int64
1 dosis                                         int64
2 dosis                                         int64
Poblacion                                       int64
dtype: object

In [ ]:
df_dosis.loc[df_dosis.provincia.str.contains('Ciudad Autónoma de Buenos Aires'),'provincia'] = 'CABA'
df_dosis.loc[df_dosis.provincia.str.contains('Tierra del Fuego'),'provincia'] = 'Tierra del Fuego'

In [ ]:
df_dosis.columns

Index(['residencia_provincia_id', 'provincia', 'centroide_lat',
       'centroide_lon', 'fecha', 'cuenta_diag', 'cuenta_inter', 'cuenta_uti',
       'cuenta_muertes', '18 a 39 años SIN Factores de Riesgo',
       '18 a 59 años CON Factores de Riesgo',
       '40 a 49 años SIN Factores de Riesgo',
       '50 a 59 años SIN Factores de Riesgo', '60 o más años', 'Estrategico',
       'Otros', 'Salud', 'TOTAL VACUNADOS', 'AstraZeneca', 'COVISHIELD',
       'Sinopharm', 'Sputnik', '1 dosis', '2 dosis', 'Poblacion'],
      dtype='object')

In [ ]:
df_dosis.columns

Index(['residencia_provincia_id', 'provincia', 'centroide_lat',
       'centroide_lon', 'fecha', 'cuenta_diag', 'cuenta_inter', 'cuenta_uti',
       'cuenta_muertes', '18 a 39 años SIN Factores de Riesgo',
       '18 a 59 años CON Factores de Riesgo',
       '40 a 49 años SIN Factores de Riesgo',
       '50 a 59 años SIN Factores de Riesgo', '60 o más años', 'Estrategico',
       'Otros', 'Salud', 'TOTAL VACUNADOS', 'AstraZeneca', 'COVISHIELD',
       'Sinopharm', 'Sputnik', '1 dosis', '2 dosis', 'Poblacion'],
      dtype='object')

In [ ]:
df_dosis = df_dosis[['provincia','1 dosis','2 dosis']].fillna(0)

In [ ]:
df_dosis_group = df_dosis.groupby('provincia').sum()

In [ ]:
df_dosis_group

                     1 dosis  2 dosis
provincia
Buenos Aires         9317786  2277509
CABA                 2023502   657713
Catamarca             225611    53315
Chaco                 544483   146503
Chubut                310306    84230
Corrientes            561426   159294
Córdoba              2048602   550287
Entre Ríos            685539   182159
Formosa               335616    67329
Jujuy                 391796   108786
La Pampa              210837    75822
La Rioja              218416    59965
Mendoza              1036321   241035
Misiones              470939   149334
Neuquén               381713   115605
Río Negro             423353   116961
Salta                 655988   159992
San Juan              419976   105848
San Luis              301038    99268
Santa Cruz            184917    54097
Santa Fe             1992923   482815
Santiago del Estero   550720   118663
Tierra del Fuego      100762    26259
Tucumán               875638   253460

In [ ]:
from google.colab import files
df_dosis_group.to_csv('dosis.csv')
files.download('dosis.csv')

In [ ]:
df_etario = pd.read_csv('https://raw.githubusercontent.com/arielmmdx/covid-19/gh-pages/final_nombre_provincias_csv.csv')
df_etario['fecha'] = df_etario['fecha'].astype('datetime64')
df_etario.loc[df_etario.provincia.str.contains('Ciudad Autónoma de Buenos Aires'),'provincia'] = 'CABA'
df_etario.loc[df_etario.provincia.str.contains('Tierra del Fuego'),'provincia'] = 'Tierra del Fuego'

In [ ]:
df_etario = df_etario[['provincia','18 a 39 años SIN Factores de Riesgo',
       '18 a 59 años CON Factores de Riesgo',
       '40 a 49 años SIN Factores de Riesgo',
       '50 a 59 años SIN Factores de Riesgo', '60 o más años', 'Estrategico',
       'Otros', 'Salud']].fillna(0)

In [ ]:
df_etario = df_etario.groupby('provincia').sum()

In [ ]:
from google.colab import files
df_etario.to_csv('condicion_aplicacion.csv')
files.download('condicion_aplicacion.csv')

In [ ]:
df_vacunados_muertes = pd.read_csv('https://raw.githubusercontent.com/arielmmdx/covid-19/gh-pages/final_nombre_provincias_csv.csv')

In [ ]:
df_vacunados_muertes.columns

Index(['residencia_provincia_id', 'provincia', 'centroide_lat',
       'centroide_lon', 'fecha', 'cuenta_diag', 'cuenta_inter', 'cuenta_uti',
       'cuenta_muertes', '18 a 39 años SIN Factores de Riesgo',
       '18 a 59 años CON Factores de Riesgo',
       '40 a 49 años SIN Factores de Riesgo',
       '50 a 59 años SIN Factores de Riesgo', '60 o más años', 'Estrategico',
       'Otros', 'Salud', 'TOTAL VACUNADOS', 'AstraZeneca', 'COVISHIELD',
       'Sinopharm', 'Sputnik', '1 dosis', '2 dosis', 'Poblacion'],
      dtype='object')

In [ ]:
df_vacunados_muertes = df_vacunados_muertes[['fecha','cuenta_muertes','TOTAL VACUNADOS']]

In [ ]:
df_vacunados_muertes['fecha'] = df_vacunados_muertes['fecha'].astype('datetime64')

In [ ]:
df_vacunados_muertes = df_vacunados_muertes.groupby(pd.Grouper(key='fecha', axis=0, freq='M', sort=True)).sum()

In [ ]:
df_vacunados_muertes

            cuenta_muertes  TOTAL VACUNADOS
fecha
2020-01-31               0                0
2020-02-29               1                0
2020-03-31              33                0
2020-04-30             264                0
2020-05-31             443                0
2020-06-30            1434                0
2020-07-31            4608                0
2020-08-31            7384                0
2020-09-30           10409                0
2020-10-31           11291                0
2020-11-30            7392                0
2020-12-31            4266            43222
2021-01-31            5410           343855
2021-02-28            3882           875033
2021-03-31            4021          2971426
2021-04-30            9911          4019202
2021-05-31           16044          4599434
2021-06-30           15189          8637324
2021-07-31            6651          9124961

In [ ]:
from google.colab import files
df_vacunados_muertes.to_csv('vacunados-muertes.csv')
files.download('vacunados-muertes.csv')

In [ ]:
df_grupo_muertes = pd.read_csv('https://raw.githubusercontent.com/arielmmdx/covid-19/gh-pages/final_nombre_provincias_csv.csv')

In [ ]:
df_grupo_muertes = df_grupo_muertes[['fecha','cuenta_muertes','18 a 39 años SIN Factores de Riesgo',
       '18 a 59 años CON Factores de Riesgo',
       '40 a 49 años SIN Factores de Riesgo',
       '50 a 59 años SIN Factores de Riesgo', '60 o más años', 'Estrategico',
       'Otros', 'Salud']]

In [ ]:
df_grupo_muertes['fecha'] = df_grupo_muertes['fecha'].astype('datetime64')
df_grupo_muertes = df_grupo_muertes.groupby(pd.Grouper(key='fecha', axis=0, freq='M', sort=True)).sum()

In [ ]:
df_grupo_muertes

            cuenta_muertes  18 a 39 años SIN Factores de Riesgo  ...  Otros    Salud
fecha                                                            ...
2020-01-31               0                                    0  ...      0        0
2020-02-29               1                                    0  ...      0        0
2020-03-31              33                                    0  ...      0        0
2020-04-30             264                                    0  ...      0        0
2020-05-31             443                                    0  ...      0        0
2020-06-30            1434                                    0  ...      0        0
2020-07-31            4608                                    0  ...      0        0
2020-08-31            7384                                    0  ...      0        0
2020-09-30           10409                                    0  ...      0        0
2020-10-31           11291                                    0  ...      0        0
2020-11-30            7392                                    0  ...      0        0
2020-12-31            4266                                    0  ...      3    42692
2021-01-31            5410                                   11  ...     12   337106
2021-02-28            3882                                   17  ...    120   509598
2021-03-31            4021                                  331  ...    937   601620
2021-04-30            9911                                  984  ...   5277   506759
2021-05-31           16044                                 3346  ...  21444   392598
2021-06-30           15189                               830920  ...  37962  1176033
2021-07-31            6651                              3923134  ...   4243    97378

[19 rows x 9 columns]